* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

.content {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container {
    background: #d3d3d3;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 100%;
    width: 55%;
}

.balance {
    margin: 0 auto;
    width: 90%;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 400;
}

input {
    font-size: 18px;
    padding: 10px;
    width: 50%;
}

.input-field {
    display: flex;
    gap: 20px;
}

.btn1 {
    background: #a9a9a9;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
}

.btn2 {
    background: #228b22;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-left: 28%;
    margin-top: 40px;
    padding: 10px 20px;
}

.scale {
    background: #f0ffff;
    height: 40%;
    margin: 40px;
    width: 89%;
}